
<PaperCard class="paper-card" as |card|>
    <card.title as |title|>
        <title.text as |text|>
            <text.headline class="sub-headline">Data of: {{@column.name}}</text.headline>
        </title.text>
        {{#if this.edittingColumn}}
            <PaperButton @raised={{true}} @mini={{true}} {{on "click" this.confirmEdit}}>{{paper-icon "check"}}</PaperButton>
            <PaperButton @raised={{true}} @mini={{true}} {{on "click" this.cancelEdit}}>{{paper-icon "close"}}</PaperButton>
        {{else}}
            <PaperButton @raised={{true}} @mini={{true}} {{on "click" (fn this.editColumn @column)}}>{{paper-icon "create"}}</PaperButton>
        {{/if}}
    </card.title>
    <card.content>
        <table class="column-table">
            <tr>
                <th>Description</th>
                <td>
                    {{#if this.edittingColumn}}
                        <PaperInput @placeholder="Edit description" @textarea={{true}} @block={{true}} @passThru={{hash rows=2 maxRows=5}} @value={{this.columnDescription}} @onChange={{action (mut this.columnDescription)}} />
                    {{else}}
                        {{@column.description}}
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Note</th>
                <td>
                    {{#if this.edittingColumn}}
                        <PaperInput @placeholder="Edit note" @textarea={{true}} @block={{true}} @passThru={{hash rows=2 maxRows=5}} @value={{this.columnNote}} @onChange={{action (mut this.columnNote)}} />
                    {{else}}
                        {{@column.note}}
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Datatype</th>
                <td>
                    {{#if this.edittingColumn}}
                        <PaperInput @placeholder="Edit datatype" @textarea={{true}} @value={{this.columnDataType}} @onChange={{action (mut this.columnDataType)}} />
                    {{else}}
                        {{@column.dataType}}
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Quantity kind</th>
                <td>
                    {{#if this.edittingColumn}}
                        <PaperInput @placeholder="Edit quantity kind" @textarea={{true}} @value={{this.columnQuantityKind}} @onChange={{action (mut this.columnQuantityKind)}} />
                    {{else}}
                        {{@column.quantityKind}}
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>
                    {{#if this.edittingColumn}}
                        <PaperSelect @placeholder="Unit" @selected={{this.columnUnit}} @options={{@units}} @searchField="name" @searchPlaceholder="Search for a unit.." @searchEnabled={{true}} @onChange={{action (mut this.columnUnit)}} as |unit|>
                            {{unit.name}}
                        </PaperSelect>
                    {{else}}
                        {{#if @column.unit}}
                            <PaperButton class="unit-button" @raised={{true}}><LinkTo @route={{"unit"}} @model={{@column.unit}}>{{@column.unit.name}}</LinkTo></PaperButton>
                        {{/if}}
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Record count</th>
                <td>{{@column.recordCount}}</td>
            </tr>
            <tr>
                <th>Missing count</th>
                <td>{{@column.missingCount}}</td>
            </tr>
            <tr>
                <th>Minimum</th>
                <td>{{if @column.min @column.min "No value"}}</td>
            </tr>
            <tr>
                <th>Maximum</th>
                <td>{{if @column.max @column.max "No value"}}</td>
            </tr>
            <tr>
                <th>Mean</th>
                <td>{{if @column.mean @column.mean "No value"}}</td>
            </tr>
            <tr>
                <th>Median</th>
                <td>{{if @column.median @column.median "No value"}}</td>
            </tr>
            <tr>
                <th>Common values (max. 5)</th>
                <td>
                    {{#if @column.commonValues}}
                        <table>
                            <tr><th>Element</th><th>Value</th></tr>
                            {{#each (json-parser @column.commonValues) as |row|}}
                                <tr><td>{{row.element}}</td><td>{{calc-percentage row.occurrences}}%</td></tr>
                            {{/each}}
                        </table>
                    {{else}}
                        No value
                    {{/if}}
                </td>
            </tr>
            <tr>
                <th>Disable processing</th>
                <td>
                    {{#if this.edittingColumn}}
                        <PaperSwitch @value={{this.columnDisableProcessing}} @onChange={{action (mut columnDisableProcessing)}}/>
                    {{else}}
                        {{@column.disableProcessing}}
                    {{/if}}
                </td>
            </tr>
            {{#if @column.unitSpecificInfo}}
                <tr>
                    <th>Specifc analysis for {{@column.unit.name}}</th>
                    <td>
                        <table>
                            <tr><th>Name</th><th>Value</th></tr>
                            {{#each (json-parser @column.unitSpecificInfo) as |row|}}
                                <tr><td>{{row.name}}</td><td>{{row.value}}</td></tr>
                            {{/each}}

                        </table>
                    </td>
                </tr>
            {{/if}}
        </table>
        
        {{#if @column.file}}
            <img src="/files/{{@column.file.id}}/download" alt="">
        {{/if}}
    </card.content>
</PaperCard>
