{{!-- This component always gets the right source as parameter --}}

<div class="file-uploader">
    {{!-- <label class="md-button md-raised"><input type="file" onchange={{action "handleFileChange"}}/>Choose a file</label> --}}
     <FileUpload
          @name="files"
          @multiple={{true}}
          @onfileadd={{action this.handleFileChange}}>
          <span class="md-button md-raised">Choose file</span>
        </FileUpload>
    <PaperButton @disabled={{this.filesEmpty}} @raised={{true}} {{on "click" (fn this.uploadFiles @sourceId)}}>Upload</PaperButton>
    <PaperChips @content={{this.files}} @removeItem={{action "removeFile"}} as |file|>
        {{file.name}}
    </PaperChips>
</div>