<div class="FU-container">
    <div>
        <input name="file" id="file" type="file" class="inputfile"/>
        <label for="file">Choose a file</label>
    </div><br>

    {{#if this.addingSource}}
        <Input @value={{this.newSource}} class="FU-input" placeholder="new source"/>
        <Input @value={{this.newSourceNote}} class="FU-input" placeholder="note"/>
        <button class="FU-button" type="button" {{on "click" this.addSource}}> Create source</button>
        <button class="FU-button" type="button" {{on "click" this.cancelAddSource}}>cancel</button>
    {{else}}
        <button class="FU-button" type="button" {{on "click" this.addSource}}> Create new source</button>
    {{/if}} 
</div>