<PaperCard class="paper-card" as |card|>
    <card.title as |title|>
        <title.text as |text|>
            <text.headline id="big-card-title">Sources</text.headline>
        </title.text>
    </card.title>
    <DataTable @content={{this.model}} @filter={{this.filter}} @sort={{this.sort}} @page={{this.page}} @size={{this.size}} @onClickRow={{this.showSource}} as |table|>
        <table.content as |content|>
            <content.header>
                <ThSortable @field="name" @currentSorting={{this.sort}} @label='Filename'/>
                <th>Description</th>
                <ThSortable @field="created" @currentSorting={{this.sort}} @label='Created'/>
            </content.header>
            <content.body as |row|> 
                <td>{{row.name}}</td>
                <td>{{row.description}}</td>
                <td>{{moment-format row.created 'LLL'}}</td>
            </content.body>
        </table.content>
    </DataTable>

    <PaperDivider class="divider"/>

    <div class="add-source">
        {{#if this.addingSource}}
            <PaperInput @class="flex-30" @label="Name" @placeholder="Enter name" @value={{this.sourceName}} @onChange={{action (mut this.sourceName)}}/>
            <PaperButton @raised={{true}} {{on "click" this.addSource}}>Confirm</PaperButton>
            <PaperButton @raised={{true}} {{on "click" this.toggleAddSource}}>Cancel</PaperButton>
        {{else}}
            <PaperButton @raised={{true}} {{on "click" this.toggleAddSource}}>Add source</PaperButton>
        {{/if}}
    </div>

    {{#if this.showToast}}
        <PaperToast @duration={{3000}}  @onClose={{action "closeToast"}} as |toast|>
            <toast.text>You've created a new source</toast.text>
        </PaperToast>
    {{/if}}
</PaperCard>