<PaperCard class="paper-card" as |card|>
      <card.title as |title|>
            <title.text as |text|>
                  <text.headline class="headline">{{@model.name}}</text.headline>
                  <text.subhead class="subhead">{{moment-format @model.created 'LLL'}}</text.subhead>
            </title.text>
      </card.title>
      <card.content>
            <br/>
            <h1>Description</h1>
            <p>{{@model.description}}</p>
            <br/>
            <h1>Notes</h1>
            <p>{{@model.notes}}</p>
            <br/>
            <div class="analysis-header">
                  <h1>Analysis</h1>
                  <PaperButton @raised={{true}} {{on "click" this.toggleAddAnalysis}}>{{#if this.addingAnalysis}}Cancel{{else}}Add analysis{{/if}}</PaperButton>
            </div>
            {{#if this.addingAnalysis}}<FileUploader @sourceId={{@model.id}}/>{{/if}}
            {{outlet}}
      </card.content>
</PaperCard>
