<PaperCard class="paper-card" as |card|>
      <card.title as |title|>
            <title.text as |text|>
                  <text.headline class="headline">
                        {{#if this.edittingSource}}
                              <PaperInput @placeholder="Edit name" @textarea={{true}} @value={{this.sourceName}} @onChange={{action (mut this.sourceName)}} />
                        {{else}}
                               <text.headline class="headline">{{this.sourceName}}</text.headline>
                        {{/if}}
                  </text.headline>
                  <text.subhead class="subhead">Source, {{moment-format @model.created 'LLL'}}</text.subhead>
            </title.text>
            {{#if this.edittingSource}}
                  <PaperButton @raised={{true}} @mini={{true}} {{on "click" this.confirmEdit}}>{{paper-icon "check"}}</PaperButton>
                  <PaperButton @raised={{true}} @mini={{true}} {{on "click" this.cancelEdit}}>{{paper-icon "close"}}</PaperButton>
            {{else}}
                  <PaperButton @raised={{true}} @mini={{true}} {{on "click" this.toggleEditSource}}>{{paper-icon "create"}}</PaperButton>
            {{/if}}
      </card.title>
      <card.content>
            <br/>
            <h1>Description</h1>
            {{#if this.edittingSource}}
                  <PaperInput @placeholder="Edit description" @textarea={{true}} @block={{true}} @passThru={{hash rows=5 maxRows=5}} @value={{this.sourceDescription}} @onChange={{action (mut this.sourceDescription)}} />
            {{else}}
                  <p>{{this.sourceDescription}}</p>
            {{/if}}
            <br/>
            <h1>Notes</h1>
            {{#if this.edittingSource}}
                  <PaperInput @placeholder="Edit note" @textarea={{true}} @block={{true}} @passThru={{hash rows=5 maxRows=5}} @value={{this.sourceNote}} @onChange={{action (mut this.sourceNote)}} />
            {{else}}
                  <p>{{this.sourceNote}}</p>  
            {{/if}}
            
            <br/>

            <h1>Analysis</h1>     
            {{outlet}}

            <PaperDivider class="divider"/>

            <PaperButton @raised={{true}} {{on "click" this.toggleAddAnalysis}}>{{#if this.addingAnalysis}}Cancel{{else}}Add analysis{{/if}}</PaperButton>
            {{#if this.addingAnalysis}}
                  <FileUpload @name="files" @multiple={{true}} @onfileadd={{action this.handleFileChange}}>
                        <span class="md-button md-raised">Choose file</span>
                  </FileUpload>
                  {{!-- <PaperSelect @placeholder="Analysis" @selected={{selectedAnalysis}} @options={{@model.analysisJobs}} @searchField="Filename" @searchPlaceholder="Search for an analysis to extend from.." @searchEnabled={{true}} @onChange={{action (mut this.selectedAnalysis)}} as |analysis|>
                        {{analysis.file.filename}}
                  </PaperSelect> --}}

                  <PaperButton @disabled={{this.filesEmpty}} @raised={{true}} {{on "click" (fn this.uploadFiles @model.id)}}>Upload</PaperButton>
                  <PaperChips @content={{this.files}} @removeItem={{action "removeFile"}} as |file|>
                        {{file.name}}
                  </PaperChips>
            {{/if}}    
      </card.content>
</PaperCard>
