<PaperCard class="paper-card" as |card|>
    <card.title as |title|>
        <title.text as |text|>
            <text.headline id="big-card-title">Jobs</text.headline>
        </title.text>
    </card.title>
    <DataTable @content={{this.model}} @filter={{this.filter}} @sort={{this.sort}} @page={{this.page}} @size={{this.size}} @onClickRow={{this.showJob}} as |table|>
        <table.content as |content|>
            <content.header>
                <ThSortable @field="file.filename" @currentSorting={{this.sort}} @label='Filename'/>
                <ThSortable @field="created" @currentSorting={{this.sort}} @label='Date created'/>
                <ThSortable @field="finalized" @currentSorting={{this.sort}} @label='Finished'/>
            </content.header>
            <content.body as |row|> 
                <td>{{row.file.filename}}</td>
                <td>{{row.created}}</td>
                <td>
                    {{#if row.finalized}}
                        true
                    {{else}}
                        false
                    {{/if}}
                </td>
            </content.body>
        </table.content>
    </DataTable>
</PaperCard>